 {% extends 'layout/EspaceClient.html'%}
 <!-- Page Heading -->
 {% load static %}
 {% block content %}

<div class="card shadow mb-4 col-lg-6 offset-md-2">
            <div class="card-header py-3">
                <div class="">
                    <h6 class="">Paiement Groupé</h6>
                </div>
            </div>
          <div class="card-body">
                            
            <form class="modal-body" method="POST" action="{% url 'paiement_group' %} ">
                  {% csrf_token %}

                  <div class="form-group">
                    <label for="exampleInputPassword1">N° Facture</label>
                    <input type="text" class="form-control" minlength="9" name="code" required>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">N° QUITANCE</label>
                    <input type="text" class="form-control" name="num_quittance" required>
                  </div>

                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Enregister</button>
                    <a type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</a>
                  </div>
            </form>
            
          </div>
                        
</div>



  {% endblock %}