 {% extends 'layout/EspaceClient.html'%}
 <!-- Page Heading -->
 {% load static %}
 {% block content %}

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4 text-dark">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">{{intitule_demande}}</h6>
                            <div class="float-right">
                                <button class="btn btn-primary"><i class="fa fa-print" onclick="printPageArea('printableArea')"></i></button>
                            </div>
                        </div>
                        <div class="card-body" id="printableArea">
                            <div>
                                <div class="row" style="font-size: 13px;">
                                    <div class="col-4 text-center">
                                        MINISTERE DE LA SANTE ET DE L'HYGIENE PUBLIQUE <br>
                                       -------------------- <br>
                                       SECRETARIAT GENERAL<br>
                                       -------------------- <br>
                                       AGENCE NATIONALE DE REGULATION PHARMACEUTIQUE (ANRP) <br>
                                       -------------------- <br>
                                    </div>
                                    <div class="col-4">
                                        
                                    </div>
                                    <div class="col-4 float-right">
                                        <p class="text-center">
                                            BURKINA FASO <br>
                                            --------------------- <br>
                                            Unité - Progrès - gustice
                                        </p>
                                        <br><br>
                                        <p>
                                            Ouagadougou, le
                                        </p>

                                    </div>
                                    <div style="border: 1px;border-style: double; width: 90%; padding: 2%; margin: 5%;">
                                        <h4 class="text-center font-weight-bold">
                                            {{intitule_demande}}<br>
                                            ( AVIS TECHNIQUE )
                                        </h4>
                                    </div>
                                    
                                </div>
                                <!--div class="display-6 text-justify" style="  font-size: 14px;">
                                        {{infos.arrete |linebreaks }}
                                </div-->
                                <div style="font-size: 15px;">
                                    <p>
                                        Je sousigné {{signataire.nom_signataire}}, {{signataire.fonction}} de l'Agence Nationale de
                                        Régulation Pharmaceutique (ANRP), atteste par la présente que les formalités de Déclaration
                                        Préalable dfrportation (DPI) peuvent être engagées
                                    </p>  
                                    <ul>
                                        <li> Avec la Facture  N° <span class="font-weight-bold">{{datum.code_facture}}</span> datée du <span class="font-weight-bold">{{datum.date_facture|date:"d/m/Y"}}</span></li>
                                       <li>Par <span class="font-weight-bold">{{datum.destinataire}}</span></li> 
                                        <li>Pour les produits dont les informations communiquées sont </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12"><br></div>
                            <div class="table-responsive" style="font-size: 15px;">
                              {% if produits %}
                                <table class="table" style="border: 1px solid;">
                                    <thead>
                                        <tr style="border: 1px solid;">
                                            <th style="border: 1px solid;">Libéllé</th>
                                            <th style="border: 1px solid;">Catégorie</th>
                                            <th style="border: 1px solid;">Position douanière</th>
                                            <th style="border: 1px solid;">Quantité</th>
                                            <td style="border: 1px solid;">Prix</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for p in produits %}
                                        <tr style="border: 1px solid;">
                                            <td style="border: 1px solid;">{{p.dc}}</td>
                                            <td style="border: 1px solid;">{{p.categorie.libelle}}</td>
                                            <td style="border: 1px solid;">{{p.code_douanier}}</td>
                                            <td style="border: 1px solid;">{{p.quantite}}</td>
                                            <td style="border: 1px solid;">{{p.cout}} {{p.devise.libelle}}</td>
                                        </tr>
                                        {% endfor %}
                                        <!--tr style="border: 1px solid;">
                                            <td>TOTAL</td>
                                            <td></td>
                                            <td style="border: 1px solid;">{{datum.nombre}}</td>
                                            <td style="border: 1px solid;">{{datum.cout}}</td>
                                        </tr-->
                                    </tbody>
                                </table>
                              {% endif %}
                                <div style="font-size: 15px;">
                                    Provenant du <span class="font-weight-bold">{{datum.nom_expediteur}}, {{datum.adresse_expediteur}}</span>
                                </div>
                                <div>
                                    <!--br>
                                    <h5 class="font-weight-bold">NB:</h5-->
                                    
                                    <ul>
                                        <li>En provenance de <span class="font-weight-bold">{{datum.nom_transitaire}}, {{datum.adresse_transitaire}}</span></li>
                                        <li>Par voie <span class="font-weight-bold">{{datum.voie_entree.libelle}}</span></li>
                                             
                                    </ul>
                                    <p>
                                        {{datum.objet.description}}
                                    </p>
                                    <p>
                                        {{message.duree}} 
                                    </p>
                                    <!--p>
                                        {{datum.note}}
                                    </p-->
                                    <p class="text-right">
                                        {{infos.mot_fin}}
                                    </p>
                                </div>
                                <div class="">
                                    <div class=""></div>
                                        <div class="float-right">
                                          <div class="text-center">
                                            <p>
                                               {{signataire.fonction}}
                                           </p>
                                           <img src="{% static signataire.signature %}" class="img-responsive img-rounded text-center" style="max-height: 100px; max-width: 100px;">
                                           <p>
                                               <strong><U>{{signataire.nom_signataire}}</U></strong>  <br>
                                               <I>{{signataire.titre_honorifique}}</I>
                                           </p>
                                         </div>
                                       </div>
                                </div>
                            </div>
                        </div>
                    </div>
  {% endblock %}