{% extends 'layout/EspaceClient.html'%}
<!-- Page Heading -->
{% load static %}
{% block content %}


                   <!-- Page Heading -->
                   <div class="d-sm-flex align-items-center justify-content-between mb-4">
                       <h1 class="h3 mb-0 text-gray-800"></h1>
                   </div>



                   <!-- Content Row -->

                   <div class="row">

                       <div class="col-xl-8 col-lg-7">
                           <div class="card shadow mb-4">
                               <img src="{% static 'images/logo-2.jpg' %}" class="img-fluid" alt="Responsive image">

                           </div>
                       </div>


                   </div>



 {% endblock %}